pip~=24.0
wheel~=0.37.0
tomli~=2.0.1
build~=1.1.1
pytest~=8.1.1
pluggy~=1.4.0
exceptiongroup~=1.2.0
iniconfig~=2.0.0
setuptools~=58.0.4
future~=0.18.2
zipp~=3.18.1
coverage~=7.4.4
hatch~=1.9.4
importlib_metadata==7.2.1